
.events-page{
  text-align: center;
  margin: 10px;
  }
  
.create-event{
  display: flex;
  justify-content: center;
  padding: 30px;
  
}

.my-activities{
height: 100%;
}
.create-btn{
  margin-left: 90px
}