.navbar{
  display: flex;
  justify-content: space-between;
  
}
.nav-logo{
  height: 120px;
  
}
.nav-btn{
  margin-right: 30px;
}
.nav-btn:hover{
  background-color: lightskyblue;
}
.gs-btn{
  margin: 20px;
  
}