.places-page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.img-logo{
  display: flex;
  justify-content: flex-end;
  height: 120px;
  margin: 9px;
}
.place-card{
  margin: 20px;
  display: inline-block;
}
.back-btn{
  align-self: flex-start;
  margin: 20px;
}